
html {
  transition: background-color 0.3s, color 0.3s;
}
html, body {
  @apply bg-white text-black transition-colors;
}

html.dark body {
  @apply bg-gray-900 text-white;
}

input {
  background-color: white;
  color: #1f2937; 
}

.dark input {
  background-color: white;
  color: #1f2937;
}


.dark .react-calendar {
  background-color: #1f2937; /* Tailwind's gray-800 */
  color: white;
  border: 1px solid #374151; /* Tailwind's gray-700 */
}

.dark .react-calendar__tile {
  background-color: transparent;
  color: white;
}

.dark .react-calendar__tile--active {
  background-color: #2563eb; /* Tailwind's blue-600 */
  color: white;
}

.dark .react-calendar__navigation button {
  color: white;
}

.dark .react-calendar__month-view__days__day--weekend {
  color: #9ca3af; /* Tailwind's gray-400 */
}


.read-the-docs {
  color: #888;
}
.REACT-CALENDAR {
  width: 100% !important;
  border: none !important;
  font-family: inherit;
  font-size: 14px;
  background-color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.react-calendar__tile--now {
  background: #dbeafe !important;
  border-radius: 6px;
}

.react-calendar__tile--active {
  background: #3b82f6 !important;
  color: white !important;
  border-radius: 6px;
}

.react-calendar__tile:enabled:hover {
  background: #bfdbfe !important;
}